<head>
    <title>Card Management System</title>
    <meta charset="utf-8"/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet" media="screen"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/startmin.css}" rel="stylesheet" media="screen"/>

    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

    <!-- DataTables CSS -->
    <link th:href="@{/css/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/css/dataTables/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Datepicker CSS -->
    <link th:href="@{/css/datepicker.css}" rel="stylesheet"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/metisMenu.min.js}" type="application/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/startmin.js}" type="application/javascript"></script>

    <!-- Datepicker -->
    <script th:src="@{/js/bootstrap-datepicker.js}" type="application/javascript"></script>

    <!-- DataTables JavaScript -->
    <script th:src="@{/js/dataTables/jquery.dataTables.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.min.js}" type="application/javascript"></script>
</head>