<head>
    <title>Card Management System</title>
    <meta charset="utf-8"/>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/css/metisMenu.min.css}" rel="stylesheet" media="screen"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/startmin.css}" rel="stylesheet" media="screen"/>

    <!-- Custom Fonts -->
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

    <!-- jQuery -->
    <script th:src="@{/js/jquery.min.js}" type="application/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{/js/metisMenu.min.js}" type="application/javascript"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{/js/startmin.js}" type="application/javascript"></script>
</head>